<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <title>wiki</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
<div class="content">
    <h1>{{.Title}}</h1>
    <div>{{printf "%s" .Body}}</div>
    <form action="/edit/{{.URL}}" method="GET">
        <div class="button"><input type="submit" value="Edit"></div>
    </form>
    <form action="/frontpage" method="GET">
        <div class="button"><input type="submit" value="Frontpage"></div>
    </form>

</div>
</body>

</html>