.content {
    text-align: center;
}

.lista {
    text-align: center;
    display: inline-block;
}
    
.tekst {
    padding-top: 15px;
    text-align: justify;
    width: 50%;
    margin: auto;
}
    
hr {
    width: 50%;
}

.button {
    margin: 15px;
}